.hit-sales {
  padding: 5rem 0 6.4rem 0; }
  .hit-sales_slider {
    position: relative;
    margin-bottom: 7rem; }
    .hit-sales_slider .slick-list {
      margin: 0 auto;
      max-width: 167rem;
      width: 100%; }
    .hit-sales_slider .slick-arrow {
      z-index: 1;
      position: absolute;
      width: 8.4rem;
      height: 8.4rem;
      border-radius: 50%;
      border-color: transparent;
      color: transparent;
      background: url("../img/arrow.svg") center center no-repeat;
      background-size: 25%;
      background-color: rgba(205, 204, 205, 0.6);
      outline: none;
      padding: 0; }
    .hit-sales_slider .slick-arrow.slick-prev {
      top: 50%;
      left: -4.2rem;
      margin-top: -4.2rem; }
    .hit-sales_slider .slick-arrow.slick-next {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
      top: 50%;
      right: -4.2rem;
      margin-top: -4.2rem; }
    .hit-sales_slider_item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0 2.1rem;
      position: relative;
      padding: 0 1.5rem 1.5rem 1.5rem;
      -webkit-transition-property: border-color;
      transition-property: border-color;
      -webkit-transition-duration: 0.3s;
              transition-duration: 0.3s;
      border: 2px solid transparent;
      width: 30rem;
      height: 48rem; }
      .hit-sales_slider_item:hover {
        border-color: #817f80; }
      .hit-sales_slider_item_label {
        position: absolute;
        left: 0;
        top: 1.5rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 10.2rem;
        height: 2.8rem;
        background-color: #842140; }
        .hit-sales_slider_item_label_star {
          margin-right: 1rem;
          width: 2rem;
          height: 2rem; }
        .hit-sales_slider_item_label_text {
          font-size: 2.2rem;
          font-family: 'Roboto';
          color: #fff; }
      .hit-sales_slider_item_left-section {
        padding-top: 7.8rem; }
        .hit-sales_slider_item_left-section li {
          font-size: 1.75rem;
          margin-bottom: 0.5rem;
          font-family: 'Roboto-light'; }
          .hit-sales_slider_item_left-section li:nth-child(1) {
            font-size: 2.2rem;
            font-family: 'Roboto';
            color: #000000;
            margin-bottom: 3rem; }
          .hit-sales_slider_item_left-section li:nth-child(2) {
            margin-bottom: 3rem; }
          .hit-sales_slider_item_left-section li:nth-child(5) {
            margin-bottom: 3rem; }
          .hit-sales_slider_item_left-section li:nth-child(6) {
            font-size: 3.05rem;
            font-weight: bold;
            margin-bottom: 5.5rem; }
            .hit-sales_slider_item_left-section li:nth-child(6) span {
              font-size: 2.2rem; }
        .hit-sales_slider_item_left-section .hit-sales_slider_item_buy,
        .hit-sales_slider_item_left-section .hit-sales_slider_item_buy-fast {
          width: 15.5rem;
          padding: 1rem 0;
          background-color: #842140;
          color: #fff;
          font-size: 1.55rem;
          font-family: 'Roboto';
          border: none;
          outline: none;
          margin-bottom: 1.5rem; }
        .hit-sales_slider_item_left-section .hit-sales_slider_item_buy-fast {
          background-color: #817f80; }
      .hit-sales_slider_item_right-section {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        padding-bottom: 0.5rem; }
        .hit-sales_slider_item_right-section img {
          margin-bottom: 1rem; }
        .hit-sales_slider_item_right-section .hit-sales_slider_item_change-quantity {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          margin-bottom: 2.3rem; }
          .hit-sales_slider_item_right-section .hit-sales_slider_item_change-quantity input[type=text] {
            width: 2rem;
            font-size: 2.9rem;
            font-family: 'Roboto';
            color: #842140;
            border: none; }
          .hit-sales_slider_item_right-section .hit-sales_slider_item_change-quantity button {
            border: none;
            background: none;
            outline: none;
            font-size: 2.9rem;
            color: #842140; }
        .hit-sales_slider_item_right-section .hit-sales_slider_item_good-operation {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center; }
          .hit-sales_slider_item_right-section .hit-sales_slider_item_good-operation button {
            background: none;
            border: none;
            outline: none; }
            .hit-sales_slider_item_right-section .hit-sales_slider_item_good-operation button svg {
              fill: #817f80;
              -webkit-transition-property: fill;
              transition-property: fill;
              -webkit-transition-duration: 0.3s;
                      transition-duration: 0.3s; }
            .hit-sales_slider_item_right-section .hit-sales_slider_item_good-operation button:hover svg {
              fill: #842140; }
