.special-offer{
    padding: 5rem 0 9rem 0;
    border-top: 3px solid $clr-light-gray;
    .galary-blocks{
        .width-sm{
            max-width: 41rem;
            
        }
    }
    .special-offer_link{
        background-position: 37rem;
        background-size: 4%;
    }
    
}
